<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Création Object Connecté</title>
    <link rel="stylesheet" type="text/css" href="/css/body.css" th:href="@{/css/body.css}" />
    <link rel="stylesheet" type="text/css" href="/css/upRod.css" th:href="@{/css/upRod.css}" />
    <link rel="stylesheet" type="text/css" href="/css/gestion-create.css" th:href="@{/css/gestion-create.css}" />
    <script src="/js/dynamicStars.js" defer></script>
    <script src="/js/connectedObjCreation.js" defer></script>
</head>

<body>
<!------------------------------BARRE CENTRALE ------------------------------>
<div id="upRod">
    <a class="link" th:href="@{/dashboard}">Accueil</a>
    <a class="link" th:href="@{/visualization}">Visualisation</a>

    <!-- Pour un gestion -->
    <a class="link" th:href="@{/gestion}" sec:authorize="hasRole('GESTION')">Gestion</a>

    <!-- Pour un utilisateur sans droits d'accès gestion -->
    <a class="lockedLink" sec:authorize="!hasRole('GESTION')">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#777" viewBox="0 0 16 16" style="margin-right: 4px;">
            <path d="M8 1a3 3 0 0 0-3 3v3H4a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-1V4a3 3 0 0 0-3-3zm-2 6V4a2 2 0 0 1 4 0v3H6z"/>
        </svg>
        Gestion
    </a>

    <!-- Pour un admin -->
    <a class="link" th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Administration</a>

    <!-- Pour un utilisateur sans droits d'accès admin -->
    <a class="lockedLink" sec:authorize="!hasRole('ADMIN')">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#777" viewBox="0 0 16 16" style="margin-right: 4px;">
            <path d="M8 1a3 3 0 0 0-3 3v3H4a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-1V4a3 3 0 0 0-3-3zm-2 6V4a2 2 0 0 1 4 0v3H6z"/>
        </svg>
        Administration
    </a>

    <a class="link" th:href="@{/profile}">Profil</a>
    <div class="link">
        <form th:action="@{/logout}" method="post">
            <button class="button" type="submit">Déconnexion</button>
        </form>
    </div>
</div>
<!------------------------------FIN BARRE CENTRALE ------------------------------>



<div class="mainContainer">

    <!-- Partie gauche - Formulaire -->
    <div class="divLeft">

        <div class="whitePanel formPanel">
            <h1>Ajouter un nouvel objet connecté</h1>
            <form th:action="@{/gestion/connected-object/add}" method="POST" th:object="${connectedObject}">
                <!-- Input cachée pour stockée l'ID -->
                <input type="hidden" th:field="*{id}">

                <label for="name">Nom de l'objet :</label>
                <input type="text" id="name" th:field="*{name}" required>

                <label for="type">Type de l'objet :</label>
                <select id="type" name="objectType" onchange="loadAttributes(this.value)" required>
                    <option value="" selected disabled>-- Choisir un type --</option>
                    <option th:each="objectType : ${objectTypes}" th:value="${objectType.id}" th:text="${objectType.name}"></option>
                </select>

                <label for="room">Pièce :</label>
                <select id="room" name="room" required>
                    <option value="" selected disabled>-- Choisir une pièce --</option>
                    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                </select>

                <label for="brand">Marque :</label>
                <input type="text" id="brand" th:field="*{brand}" required>

                <label for="mode">Mode :</label>
                <select th:field="*{mode}" id="mode">
                    <option th:each="mode : ${T(com.example.cydomotix.Model.Objects.Mode).values()}" th:value="${mode}" th:text="${mode.displayName}"></option>
                </select>

                <label for="connectivity">Connectivité :</label>
                <select th:field="*{connectivity}" id="connectivity">
                    <option th:each="connectvitiy : ${T(com.example.cydomotix.Model.Objects.Connectivity).values()}" th:value="${connectvitiy}" th:text="${connectvitiy.displayName}"></option>
                </select>

                <label for="batteryStatus">État de batterie :</label>
                <input type="number" min="0" max="100" id="batteryStatus" th:field="*{batteryStatus}" required><span> %</span>

                <label for="power">Puissance :</label>
                <input type="number" id="power" min="0" step="0.1" th:field="*{power}" required><span> W</span>

                <label for="lastInteraction">Dernière interaction :</label>
                <input type="datetime-local" id="lastInteraction" th:field="*{lastInteraction}" required>

                <h3>Champs :</h3>

                <table id="attributesTable" class="dataTable">
                    <thead>
                    <tr>
                        <th>Attribut</th>
                        <th>Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Attributs spécifiques au type selectionné -->
                    </tbody>
                </table>

                <button type="submit" class="saveBtn">Enregistrer</button>

                <!-- Affichage des messages -->
                <div th:if="${#fields.hasErrors('name')}" class="error-message">
                    <p th:errors="*{name}"></p>
                </div>

                <div th:if="${successMessage}" class="success-message">
                    <p th:text="${successMessage}"></p>
                </div>
            </form>
        </div>
    </div>

    <!-- Partie droite - Liste des objets existants -->
    <div class="divRight">
        <div class="whitePanel tablePanel">
            <table id="connected-obj-table" class="dataTable">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Pièce</th>
                    <th>Champs de base</th>
                    <th>Champs spécifiques au type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Affichage de chaque ligne. 1 ligne = 1 object connecté -->
                <tr th:each="connectedObject : ${connectedObjects}" class="clickable-row" th:data-id="${connectedObject.id}">
                    <td th:text="${connectedObject.name}"></td>
                    <td th:text="${connectedObject.objectType.name}"></td>
                    <td th:text="${connectedObject.room.name}"></td>
                    <!-- Champs de base de l'objet -->
                    <td>
                        <table>
                            <tr>
                                <!-- Noms des champs -->
                                <td>
                                    <p>Marque :</p>
                                    <p>Mode :</p>
                                    <p>Connectivité :</p>
                                    <p>État de batterie :</p>
                                    <p>Dernière interaction :</p>
                                    <p>Status :</p>
                                    <p>Puissance :</p>
                                </td>
                                <!-- Valeurs des champs -->
                                <td>
                                    <p th:text="${connectedObject.brand}"></p>
                                    <p th:text="${connectedObject.mode.displayName}"></p>
                                    <p th:text="${connectedObject.connectivity.displayName}"></p>
                                    <p th:text="|${connectedObject.batteryStatus}%|"></p>
                                    <p th:text="${#temporals.format(connectedObject.lastInteraction, 'dd/MM/yyyy HH:mm')}"></p>
                                    <p th:if="${connectedObject.isActive == true}">Activé</p>
                                    <p th:unless="${connectedObject.isActive}">Désactivé</p>
                                    <p th:text="|${connectedObject.power} W|">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Champs spécifiques au type de l'objet -->
                    <td>
                        <!-- Affichage de sa liste d'attributs et leur valeur -->
                        <table>
                            <tr th:each="attribute, iterStat : ${connectedObject.objectType.attributes}">
                                <td>
                                    <p th:text="|${attribute.name} :|"></p>
                                </td>
                                <td>
                                    <!-- Affichage conditionnel selon le type de valeur -->
                                    <p th:if="${attribute.valueType.name() == 'STRING'}"
                                       th:text="${connectedObject.attributeValueList[iterStat.index].string_value}"></p>
                                    <p th:if="${attribute.valueType.name() == 'INTEGER'}"
                                       th:text="${connectedObject.attributeValueList[iterStat.index].int_value}"></p>
                                    <p th:if="${attribute.valueType.name() == 'DOUBLE'}"
                                       th:text="${connectedObject.attributeValueList[iterStat.index].double_value}"></p>
                                    <p th:if="${attribute.valueType.name() == 'TEMPERATURE'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}&deg;C|"></p>
                                    <p th:if="${attribute.valueType.name() == 'HOURS'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}h|"></p>
                                    <p th:if="${attribute.valueType.name() == 'MINUTES'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}min|"></p>
                                    <p th:if="${attribute.valueType.name() == 'SECONDS'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}s|"></p>
                                    <p th:if="${attribute.valueType.name() == 'PERCENTAGE'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}%|"></p>
                                    <p th:if="${attribute.valueType.name() == 'BOOLEAN'}"
                                       th:text="${connectedObject.attributeValueList[iterStat.index].int_value == 1 ? 'Oui' : 'Non'}"></p>
                                    <p th:if="${attribute.valueType.name() == 'SPEED'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].double_value} m/s|"></p>
                                    <p th:if="${attribute.valueType.name() == 'PRESSURE'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].double_value} hPa|"></p>
                                    <p th:if="${attribute.valueType.name() == 'VOLUME'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].double_value} L|"></p>
                                    <p th:if="${attribute.valueType.name() == 'DISTANCE'}"
                                       th:text="|${connectedObject.attributeValueList[iterStat.index].double_value} m|"></p>
                                    <p th:if="${attribute.valueType.name() == 'SURFACE'}"
                                       th:text="${connectedObject.attributeValueList[iterStat.index].double_value + ' m²'}"></p>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="no-click">
                        <a class="delete-btn" href="#" th:data-id="${connectedObject.id}" sec:authorize="hasRole('ADMIN')">
                            <button>Supprimer</button>
                        </a>
                        <a class="request-delete-btn" href="#" th:data-id="${connectedObject.id}" sec:authorize="hasRole('GESTION') && !hasRole('ADMIN')">
                            <button>Demander suppression</button>
                        </a>
                        <a class="power-btn" href="#" th:data-id="${connectedObject.id}">
                            <button th:text="${connectedObject.isActive} ? 'Désactiver' : 'Activer'"></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>