<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion</title>
</head>
<body>
<a th:href="@{/gestion/connected-object}">Créer un objet connecté</a><br>
<a th:href="@{/gestion/object-type}">Créer un type d'objet connecté</a><br>

</body>
</html>




<a class="delete-btn" href="#" th:data-id="${objectType.id}" sec:authorize="hasRole('ADMIN')">
    <button>Supprimer</button>
</a>
<a class="request-delete-btn" href="#" th:data-id="${objectType.id}" sec:authorize="hasRole('GESTION')">
    <button>Demander suppression</button>
</a>