<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
</head>
<body>
<a th:href="@{/admin/connected-object}">Créer un objet connecté</a><br>
<a th:href="@{/admin/object-type}">Créer un type d'objet connecté</a><br>
<a th:href="@{/admin/deletion-requests}">Gérer les demandes de suppressions</a><br>
<a th:href="@{/admin/registration-requests}">Gérer les demandes d'inscription</a><br>
<a th:href="@{/admin/history}">Voir l'historique des actions sur la plateforme</a><br>

</body>
</html>