<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>
    <h2>Bienvenue, <span th:text="${user != null ? user.username : 'Utilisateur anonyme'}"></span> !</h2>

    <a th:href="@{/vizualisation}">Visualisation</a>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin/connected-object}">Créer un objet connecté</a>
        <a th:href="@{/admin/object-type}">Créer un type d'objet</a>
    </div>

    <a th:href="@{/profile}">Mon Profil</a>

    <!-- Spring Security a besoin d'envoyer une requête POST pour le logout
         car une requête GET (lien clickable) ne transmet pas de token CSRF
         donc Spring Security la bloquerait pour un logout
         (potentiellement dangereux sans protection CSRF) -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Déconnexion</button>
    </form>


</body>
</html>