<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maison connectée</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" th:href="@{/css/home.css}" />
</head>

<body>
    <div>
        <header>
            <h1>SMARTHOME</h1>
            <nav>
            <a href="/login?show=register" class="link">S'inscrire</a>
            <a href="/login?show=login" class="link">Se connecter</a>
            </nav>
        </header>

        <section>
            <div>
                <p>Prenez le contrôle de votre maison où que vous soyez.</p>
            </div>
        </section>
    </div>
</body>

</html>
