<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon profil</title>
</head>

<body>
    <h2>Mon Profil</h2>

    <form th:action="@{/profile/update}" method="post" th:object="${user}">
        <table>
            <tr>
                <td><label for="username">Pseudonyme :</label></td>
                <td><input type="text" id="username" th:field="*{username}"></td>
            </tr>
            <tr>
                <td><label for="gender">Genre :</label></td>
                <td>
                    <select th:field="*{gender}" id="gender">
                        <option th:each="gender : ${T(com.example.cydomotix.Model.Gender).values()}" th:value="${gender}" th:text="${gender.displayName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="password">Mot de passe :</label></td>
                <td><input type="text" id="password"></td>
            </tr>
            <tr>
                <td><label for="password">Confirmez le mot de passe :</label></td>
                <td><input type="text" id="password"></td>
            </tr>
            <tr>
                <td><label for="birth_date">Date de naissance :</label></td>
                <td><input type="date" id="birth_date" th:field="*{birthDate}"></td>
            </tr>
            <tr>
                <td><label for="first_name">Prénom :</label></td>
                <td><input type="text" id="first_name" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td><label for="last_name">Nom :</label></td>
                <td><input type="text" id="last_name" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td><label for="photo">Image de profil :</label></td>
                <td><input type="file" id="photo"></td>
            </tr>
        </table>

        <button type="submit">Enregistrer</button>
        <br>


        <!-- Affichage de l'erreur -->
        <div th:if="${errorMessage}" style="color: red; font-weight: bold;">
            <p th:text="${errorMessage}"></p>
        </div>

        <!-- Affichage du message de succès -->
        <div th:if="${successMessage}" style="color: green; font-weight: bold;">
            <p th:text="${successMessage}"></p>
        </div>

    </form>

</body>
</html>