<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
</head>
<body>
    <div>

        <!-- Afficher la photo de profil. -->
        <img th:src="@{${user.photo}}" alt="Profile Picture" width="100px" height="100px">

        <table>
            <tr>
                <th colspan="2" th:text="${user.username}"></th>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center" th:text="${user.accessType.displayName}"></td>
            </tr>
            <tr>
                <!-- Afficher '???' si memberType est null (memberType?) ou si memberType est vide (?:) -->
                <td colspan="2" style="text-align: center" th:text="${user.memberType?.displayName} ?: '???'"></td>
            </tr>
            <tr>
                <td>Genre :</td>
                <td th:text="${user.gender?.displayName} ?: '???'"></td>
            </tr>
            <tr>
                <td>Date de naissance :</td>
                <td th:text="${user.birthDate != null} ? ${#temporals.format(user.birthDate, 'dd/MM/yyyy')} : '???'"></td>
            </tr>
            <tr>
                <td>Âge :</td>
                <td th:text="${user.calculateAge() != -1} ? ${user.calculateAge()} + ' ans' : '???'"></td>
            </tr>
        </table>
    </div>

</body>
</html>