<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualisation</title>
    <script src="/js/vizualisation.js" defer></script>
</head>
<body>
    <h2>Rechercher un objet connecté</h2>

    <!-- Search Form -->
    <form method="GET">
        <input type="text" name="keyword" th:value="${keyword}">
        <button type="submit">Rechercher</button>

        <br>
        <p>Filtres : </p>

        <label for="type">Type de l'objet :</label>
        <select id="type" name="objectTypeId">
            <option value="" selected>-- Choisir un type --</option>

            <!-- Boucle sur les types disponibles pour peupler dyanmiquement le menu -->
            <option th:each="typeOpt : ${objectTypes}" th:value="${typeOpt.id}" th:selected="${typeOpt.id == objectTypeId}" th:text="${typeOpt.name}"></option>
        </select>

        <br>
        <label for="brand">Marque :</label>
        <input type="text" id="brand" name="brand" th:value="${brand}">

        <br>
        <label for="mode">Mode :</label>
        <select id="mode" name="mode">
            <option value="">-- Choisir un mode --</option>
            <option th:each="modeOpt : ${T(com.example.cydomotix.Model.Objects.Mode).values()}" th:value="${modeOpt}" th:selected="${modeOpt == mode}" th:text="${modeOpt.displayName}"></option>
        </select>

        <br>
        <label for="connectivity">Connectivité :</label>
        <select th:value="${connectivity}" name="connectivity" id="connectivity">
            <option value="">-- Choisir une connectivité --</option>
            <option th:each="connOpt : ${T(com.example.cydomotix.Model.Objects.Connectivity).values()}" th:value="${connOpt}" th:selected="${connOpt == connectivity}" th:text="${connOpt.displayName}"></option>
        </select>
    </form>

    <div>
        <table id="connected-obj-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Champs de base</th>
                    <th>Champs spécifiques au type</th>
                </tr>
            </thead>
            <tbody>
            <!-- Affichage de chaque ligne. 1 ligne = 1 object connecté -->
            <tr th:each="connectedObject : ${connectedObjects}">
                <td th:text="${connectedObject.name}"></td> <!-- Nom de l'objet -->
                <td th:text="${connectedObject.objectType.name}"></td> <!-- Type de l'objet -->
                <!-- Champs de base de l'objet -->
                <td>
                    <table>
                        <tr>
                            <!-- Noms des champs -->
                            <td>
                                <p>Marque :</p>
                                <p>Mode :</p>
                                <p>Connectivité :</p>
                                <p>État de batterie :</p>
                                <p>Dernière interaction :</p>
                                <p>Status :</p>
                            </td>
                            <!-- Valeurs des champs -->
                            <td>
                                <p th:text="${connectedObject.brand}"></p>
                                <p th:text="${connectedObject.mode.displayName}"></p>
                                <p th:text="${connectedObject.connectivity.displayName}"></p>
                                <p th:text="|${connectedObject.batteryStatus}%|"></p>
                                <p class="lastInteractionText" th:text="${connectedObject.lastInteraction}"></p>
                                <p th:if="${connectedObject.isActive == true}">Activé</p>
                                <p th:unless="${connectedObject.isActive}">Désactivé</p>

                            </td>
                        </tr>
                    </table>
                </td>
                <!-- Champs spécifiques au type de l'objet -->
                <td>
                    <!-- Affichage de sa liste d'attributs et leur valeur -->
                    <table>
                        <tr th:each="attribute, iterStat : ${connectedObject.objectType.attributes}">
                            <td>
                                <p th:text="|${attribute.name} :|"></p>
                            </td>
                            <td>
                                <!-- Affichage conditionnels selon le type de valeur -->
                                <p th:if="${attribute.valueType.name() == 'STRING'}" th:text="${connectedObject.attributeValueList[iterStat.index].string_value}"></p>
                                <p th:if="${attribute.valueType.name() == 'INTEGER'}" th:text="${connectedObject.attributeValueList[iterStat.index].int_value}"></p>
                                <p th:if="${attribute.valueType.name() == 'DOUBLE'}" th:text="${connectedObject.attributeValueList[iterStat.index].double_value}"></p>
                                <p th:if="${attribute.valueType.name() == 'TEMPERATURE'}" th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}&deg;C|"></p>
                                <p th:if="${attribute.valueType.name() == 'HOURS'}" th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}h|"></p>
                                <p th:if="${attribute.valueType.name() == 'MINUTES'}" th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}min|"></p>
                                <p th:if="${attribute.valueType.name() == 'SECONDS'}" th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}s|"></p>
                                <p th:if="${attribute.valueType.name() == 'PERCENTAGE'}" th:text="|${connectedObject.attributeValueList[iterStat.index].int_value}%|"></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>